@import '../../variables';

.app-footer {
  background-color: $primary-color;
  color: $secondary-color;
  width: 100%;
  text-align: center;
  padding: 1rem;
}

@media (min-width: $breakpoint-desktop) {
  .app-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    color: $primary-color;
    background: none;
  }
}